.card{
    border: solid black;
    width: 150px;
    height: 300px;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 7px;
}


.cross{
    border-radius: 100%;
    width: 15%;
    align-self: end;
    margin: 3px;
    
    border: none;
    color: white;
    background: none;
    font-family: "Lunasima", sans-serif;
    font-weight: 700;
    font-size: 15px;
    
}

.cross:hover{
    color: black;
    
    cursor: pointer;
}

.cardCity{
    height: 14%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.insideCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}