.card{
    border: solid black;
    width: 150px;
    height: 300px;
    margin: 10px;
    border-radius: 15px;
}

.insideCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cross{
    border-radius: 100%;
    align-self: end;
}