*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page{
    background: linear-gradient(to bottom, #a1c6d4, #4f7bab);
    min-height: 100dvh;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main{
    min-height: 100%;
    
    
}


.footer{
    
    border: solid 2px #444;
    
}
