.page{
    background: linear-gradient(to bottom, #a1c6d4, #4f7bab);
}

.header{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main{
    height: 600px;
}